---
layout: clubs
content_id: "approaches"
title: "Approaches"
---
<div class="row">
    <h1 class="display-4 mb-5">Approaches</h1>
</div>

<style type="text/css">
    @media screen and (min-width:576px) {
        .card {
            max-width: 100%;
        }
    }

    @media screen and (min-width:992px) and (max-width:1200px) {
        .card {
            max-width: 75%;
        }
    }

    @media screen and (max-width:575px) {
        .card {
            max-width: 80%;
        }
    }
</style>

<div class="card-deck d-flex flex-lg-row flex-column flex-wrap">
    <div class="card mb-5" style="min-width:30rem;">
        <div class="card-header list-group-item-info"><strong>1. Query translation</strong></div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">The search portal extends the query with translations of the contained terms and phrases. It then queries the extended version.</li>
                <img class="card-img-top" src="/assets/images/approaches/approach1.svg" alt="">
                <li class="list-group-item list-group-item-warning">Disadvantages</li>
                <li class="list-group-item">
                    <ul>
                        <li>erroneous translations impair the quality of the results</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="card mb-5" style="min-width:30rem">
        <div class="card-header list-group-item-info"><strong>2. Content translation</strong></div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Translation of the relevant parts of the portal's content (metadata and abstracts) into all other languages.</li>
                <img class="card-img-top" src="/assets/images/approaches/approach2.svg" alt="">
                <li class="list-group-item list-group-item-success">Advantages</li>
                <li class="list-group-item">
                    <ul>
                        <li>fast search due to lack of on-line translation</li>
                    </ul>
                </li>
                <li class="list-group-item list-group-item-warning">Disadvantages</li>
                <li class="list-group-item">
                    <ul>
                        <li>four language pairs require twelve translation directions</li>
                        <li>due to the varying amounts of training material for the different language pairs, the quality of automatic translation could differ greatly</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="card mb-5" style="min-width:30rem">
        <div class="card-header list-group-item-info"><strong>3. English as a pivot language</strong></div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Online translation of all search queries and offline translation of the database, each into English.</li>
                <img class="card-img-top" src="/assets/images/approaches/approach3.svg" alt="">
                <li class="list-group-item list-group-item-success">Advantages</li>
                <li class="list-group-item">
                    <ul>
                        <li>only three translation processes required</li>
                        <li>translations into English are most likely of highest quality</li>
                    </ul>
                </li>
                <li class="list-group-item list-group-item-warning">Disadvantages</li>
                <li class="list-group-item">
                    <ul>
                        <li>separate translation of search queries and database can lead to errors in two places</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="card mb-5" style="min-width:30rem">
        <div class="card-header list-group-item-info"><strong>4. Knowledge-based approach</strong></div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Terms contained in the search query are mapped on-line onto specialist thesauri</li>
                <img class="card-img-top" src="/assets/images/approaches/approach4.svg" alt=""></li>
                <li class="list-group-item list-group-item-success">Advantages</li>
                <li class="list-group-item">
                    <ul>
                        <li>can be combined with any of the previous methods</li>
                    </ul>
                </li>
                <li class="list-group-item list-group-item-warning">Disadvantages</li>
                <li class="list-group-item">
                    <ul>
                        <li>PubPsych datasets use multiple controlled vocabularies, which would require mapping the different terms onto each other</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>