---
layout: clubs
content_id: "data-privacy"
title: "Data Privacy Statement"
---
<h1>Data Privacy Statement</h1>

<h2>Area of validity</h2>

<p>This data privacy statement informs users about the manner, extent and purpose of the collection of personal data as performed by the responsible provider ZPID, recorded in the site notice, on this website ("offer" hereafter). The legal bases for privacy can be found in the Bundesdatenschutzgesetz (BDSG) and in the Telemediengesetz (TMG).<br />

<h2>Access data / Server logfiles</h2>
<p>The provider (or rather its webspace provider) gathers data on every access to the offer (so-called server logfiles). This data includes:
    <ul>
    <li>Name of the accessed site</li>
    <li>File, date and time of access, volume of the transferred data, report on successful retrieval</li>
    <li>Browser type and version as well as the user's operating system</li>
    <li>Referrer URL (the previously visited website)</li>
    <li>The client's IP address</li>
</ul>
<p>The provider makes use of this data only for statistic evaluation for purposes of operation and security. The provider reserves the right to check the data retroactively if, based on specific clues, a suspicion of abusive use is warranted.</p>

<h2>Cookies</h2>
<p>Cookies are small pieces of data that allow specific, device-oriented information to be saved on the device the site was viewed on (PC, smartphone, etc.). This data serves the purpose of collecting statistical data on website usage and to analyse it in order to improve the offer. Users can influence the usage of cookies. Most web browsers offer the option to restrict or completely prevent the saving of cookies. However, it should be pointed out that usability suffers from operating without cookies.</p>

<h2>Matomo</h2>
<p>This site uses <a href="http://matomo.org/">Matomo</a>, a piece of open source software for the statistical evaluation of user access. Matomo uses so-called "cookies", text files that are saved on the user's computer and that permit for an analysis of the website usage. The information on the usage of the offer that is created by the cookie is stored on the provider's server in Germany. The IP address is anonymized immediately after its processing and before its storage. Users can prevent the installation of cookies by configuring their browser software accordingly; however, the provider points out that not all of the website's functions can be used to their full extent in this case. </p>

    <iframe style="border: 0; height: inherit; width: inherit;" src="https://pwk.clubs-project.eu/index.php?module=CoreAdminHome&action=optOut&language=en"></iframe>

<h2>Revocation, alteration, corrections and updates</h2>
<p>On request, the user has the right to obtain information on the personal data that was saved about him, free of charge. Additionally, the user is entitled to corrections of incorrect data, as well as blocking or removal of his personal data, provided that no legal retention obligation opposes it.<br />
</p><p><a href="https://datenschutz-generator.de/"><strong>Vom Websiteinhaber angepasst: Datenschutz-Muster von Rechtsanwalt Thomas Schwenke - I LAW it</strong></a></p>