---
layout: clubs
content_id: "project"
title: "The project"
---
<div class="alert alert-secondary">
    <h4>Final Project Workshop Announcement</h4>
    <hr>
    <h5>Overcoming language barriers - Cross-lingual retrieval of bibliographic metadata with neural machine translation</h5>
    <div>
        <strong>When:</strong> Friday, June 7th, 2019, 11 a.m. - 5 p.m.<br/>
        <strong>Where:</strong> Stuhlsatzenhausweg 3, Saarland Informatics Campus D 3_2, 66123 Saarbrücken (Room: Reuse -2.17)<br/>
        <strong>Invited keynote speakers:</strong><br>
        <a href="https://www.uni-hildesheim.de/fb3/institute/iwist/mitglieder/womser/" target="_blank">Prof. Dr. Christa Womser-Hacker</a> (Universität Hildesheim):
        <em>Which language does the internet speak?</em>
        <br>
        <a href="https://www.computing.dcu.ie/~gjones/" target="_blank">Prof. Gareth Jones</a> (Dublin City University):
        <em>Reconsidering Domain-Specific Cross-Language Information Access in the Age of Distributional Semantics</em>

        <br>
        <strong>Talks by:</strong><br>
        <a href="https://www.shu.ac.uk/about-us/our-people/staff-profiles/daniela-petrelli" target="_blank">Prof. Daniela Petrelli</a> (Sheffield Hallam University):
        <em>A designerly approach to interactive cross-language information retrieval</em>
        <br>
        <a href="http://ufal.mff.cuni.cz/~pecina/index.html"  target="_blank">Assoc. Prof. Pavel Pecina</a> (Charles University, Prague):
        <em>Breaking the language barrier in health-related web search</em>
        <br>
        <a href="https://pro.europeana.eu/person/antoine-isaac" target="_blank">Antoine Isaac, PhD</a> (Europeana Foundation):
        <em>Multilingual challenges and ongoing work to tackle them at Europeana</em>
        <br>
        and the CLuBS project members.
    </div>

    <a class="btn btn-dark" type="button" href="./workshop-abstracts/">See abstracts</a>
    <a class="btn btn-dark" type="button" href="/assets/publications/CLUBS_Final_Workshop_Schedule.pdf">Workshop Schedule</a>
    <button class="btn btn-dark" data-toggle="collapse" data-target="#workshop_description" type="button" aria-expanded="false" aria-controls="workshop_description">Workshop Description</button>
    <div class="collapse" id="workshop_description">
        <br/>
        <p><strong>Does overcoming the language barrier contribute to global advancement of science or has English become the lingua franca of science?</strong></p>
        <p>Research has shown that results in non-English languages are less available and referenced than results published in English. This may lead to situations where information published in languages other than English is lost or, in practice, non-existent for individual researchers or even the scientific community as a whole. The aim of the project Cross-Lingual Bibliographic Search (CLuBS) is to investigate strategies to address these problems in Psychology. The use case is <a href="https://www.pubpsych.eu/" target="_blank">PubPsych</a>, an open access multilingual search engine for psychological literature, tests, treatment programs and research data with metadata in four languages: English, French, German, and Spanish.</p>
        <div>In order to make bibliographic metadata better available to non-native speakers, information retrieval performances of query translation versus complete record translation were empirically tested and evaluated. Strategies that proved to be successful despite few query terms and the resulting scarcity of context information:
            <ol>
                <li>lexicon (thesaurus) based query translation together with some simple translation rules;</li>
                <li>neural machine translation for content translation to cover those language pairs with few in-domain parallel data.</li>
            </ol>
            The resulting system is a combination of human expert translation, multilingual thesaurus mappings and neural machine translation.
        </div>
        <div>The objective of this workshop is to present and discuss the CLuBS project results. The main focus is on <em>information retrieval</em> and on <em>machine translation</em> and to demonstrate the improved PubPsych search engine. Participants are invited from the fields of
            <ul>
                <li>Library and Information Science,</li>
                <li>Computer Science,</li>
                <li>Psychology,</li>
                <li>Linguistics,</li>
                <li>and other disciplines interested in multilingual systems.</li>
            </ul>
            By sharing experience and knowledge this contribution to overcome the language barrier would benefit all researchers.
        </div>
    </div>
</div>

<div class="row">
    <h1 class="display-4">Project</h1>
    <p class="lead">
        The aim of the CLUBS project is an empirical evaluation of four different approaches in the field of "Cross-lingual information retrieval" based on the psychological search engine PubPsych.
    </p>
    <p>
        If written information only exists in a language incomprehensible to the reader, it is often not retrievable or usable for him. This problem poses a particular challenge for technical and scientific publications, with yearly thousands of potentially relevant publications in various languages. Due to language differences, researchers and other experts are only able to retrieve and incorporate a fraction of the literature pertaining to their fields into their own work.
        This can lead to multiplied amounts of research work on the same research topics or to the negligence of available information, which in turn have the consequence of increased costs and other unwanted effects.
    </p>
    <p>
        For the field of psychology, the ZPID and various partners have thus developed <a href="https://www.pubpsych.eu">PubPsych</a> in 2013, a vertical search engine for psychology literature, tests, treatment schemes and research data.
        All information in PubPsych is provided in at least one of the four languages English, Spanish, French and German. However, none of the data sets is available in all of these languages.
    </p>
    <p>
        With the help of the <abbr title="Cross Lingual Bibliographic Search" style="text-decoration: none; border-bottom: 1px solid black">CLUBS</abbr> project there will now, to our knowledge for the first time, be an empirical evaluation of <a href="./approaches/">four different approaches</a> in order to improve cross-lingual search in bibliographic metadata. This will be done, by way of example, on the basis of the PubPsych platform, to enhance the retrieval with foreign-language results.
    </p>
</div>