---
layout: clubs
content_id: "project"
title: "The project"
---
<div class="alert alert-secondary">
    <h4>Final Project Workshop</h4>
    <h5>Overcoming language barriers - Cross-lingual retrieval of bibliographic metadata with neural machine translation</h5>
    <div>
        The final project workshop took place on Friday, June 7th, 2019 at DFKI Saarbrücken. See <a href="/en/workshop/">here</a> for more information.
    </div>
</div>

<div class="row">
    <h1 class="display-4">Project</h1>
    <p class="lead">
        The aim of the CLUBS project is an empirical evaluation of four different approaches in the field of "Cross-lingual information retrieval" based on the psychological search engine PubPsych.
    </p>
    <p>
        If written information only exists in a language incomprehensible to the reader, it is often not retrievable or usable for him. This problem poses a particular challenge for technical and scientific publications, with yearly thousands of potentially relevant publications in various languages. Due to language differences, researchers and other experts are only able to retrieve and incorporate a fraction of the literature pertaining to their fields into their own work.
        This can lead to multiplied amounts of research work on the same research topics or to the negligence of available information, which in turn have the consequence of increased costs and other unwanted effects.
    </p>
    <p>
        For the field of psychology, the ZPID and various partners have thus developed <a href="https://www.pubpsych.eu">PubPsych</a> in 2013, a vertical search engine for psychology literature, tests, treatment schemes and research data.
        All information in PubPsych is provided in at least one of the four languages English, Spanish, French and German. However, none of the data sets is available in all of these languages.
    </p>
    <p>
        With the help of the <abbr title="Cross Lingual Bibliographic Search" style="text-decoration: none; border-bottom: 1px solid black">CLUBS</abbr> project there will now, to our knowledge for the first time, be an empirical evaluation of <a href="./approaches/">four different approaches</a> in order to improve cross-lingual search in bibliographic metadata. This will be done, by way of example, on the basis of the PubPsych platform, to enhance the retrieval with foreign-language results.
    </p>
</div>