---
layout: clubs
content_id: "project-documentation"
title: "Projektdokumentation"
---

<div class="d-flex flex-column">
    <h1 class="display-4 mb-3 align-self-center align-self-md-start">Project documentation</h1>
</div>

<style type="text/css">
    @media screen and (min-width:768px) {
        .card {
            max-width: 100%;
        }
    }

    @media screen and (max-width:767px) {
        .card {
            min-width: 80%;
        }
    }
</style>

<div class="d-flex flex-column">
    <h2 class="my-3 align-self-center align-self-md-start">Publications</h2>
    <div class="card-deck d-flex flex-wrap justify-content-center justify-content-md-start">
        <div class="card mb-md-3 mb-3">
            <div class="card-header"><h4 class="card-title"><a href="/assets/publications/project/CLUBS_MTcorpora.v2.pdf">M1.2 &mdash; Corpora for the Machine Translation Engines</a></h4>
                <h6 class="card-subtitle mb-2 text-muted">Cristina España-Bonet & Juliane Stiller</h6></div>
            <div class="card-body">
                <p class="card-text">This document describes the corpora used for training and evaluating the baseline MT engines used within the CLUBS project.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last update: January 2017</small>
            </div>
        </div>
        <div class="card mb-md-3 mb-3">
            <div class="card-header"><h4 class="card-title"><a href="/assets/publications/project/CLUBS_evaluation_plan_1.1_b98b85a.pdf">M1.3.1 &mdash; Evaluation plan for CLUBS project</a></h4>
                <h6 class="card-subtitle mb-2 text-muted">Juliane Stiller & Vivien Petras</h6></div>
            <div class="card-body">
                <p class="card-text">This document describes the different evaluation studies which will be executed during the course of the project. The studies assess the performance of different MT approaches for cross-lingual retrieval in the bibliographic search engine PubPsych.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last update: March 2017</small>
            </div>
        </div>
      </div>
    <div class="card-deck d-flex flex-wrap justify-content-center justify-content-md-start">
          <div class="card mb-md-3 mb-3">
                <div class="card-header">
                    <h4 class="card-title">
                        <a href="/assets/publications/project/CLUBS_testing_retrieval.v1.pdf">M1.3.2 &mdash; CLUBS - Testing retrieval performance</a>
                    </h4>
                    <h6 class="card-subtitle mb-2 text-muted">Juliane Stiller & Vivien Petras</h6></div>
                <div class="card-body">
                    <p class="card-text">This document will detail the experiment that will be conducted to determine,
which of the five approaches performs best with regard to retrieval performance.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last update: March 2018</small>
                </div>
        </div>
        <div class="card mb-md-3 mb-3">
             <div class="card-header"> <h4 class="card-title">
                 <a href="/assets/publications/project/CLUBS_mappings_v1.1.pdf">M1.5 &mdash; Mapping Approaches for Vocabularies and Queries in PubPsych</a>   </h4>
                <h6 class="card-subtitle mb-2 text-muted">Cristina España-Bonet & Roland Ramthun</h6></div>
             <div class="card-body">
                    <p class="card-text">This document describes the in-domain vocabularies the project has available, and how their multilingual counterparts are built from them. It also proposes several public resources we can use to complement and extend this data with general-domain vocabulary. Finally, application of the multilingual lexicons to controlled terms and query translations is sketched.</p>
             </div>
             <div class="card-footer">
                <small class="text-muted">Last update: March 2018</small>
             </div>
        </div>
    </div></div>
        <div class="card-deck d-flex flex-wrap justify-content-center justify-content-md-start">
            <div class="card mb-md-3 mb-3">
                <div class="card-header">
                    <h4 class="card-title">
                        <a href="/assets/publications/project/CLUBS_MTcts.v1.pdf">M3.1 &mdash; Cross-lingual Thesaurus and Controlled Term Translation</a>
                    </h4>
                    <h6 class="card-subtitle mb-2 text-muted">Cristina España-Bonet & Roland Ramthun</h6></div>
                <div class="card-body">
                    <p class="card-text">This document describes the data, resources, methodology and software developed to translate the controlled terms and related text available as metadata in the PubPsych database.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last update: March 2018</small>
                </div>
            </div>
        </div>
<div class="d-flex flex-column">
    <h2 class="my-3 align-self-center align-self-md-start">Software</h2></div>
<div class="d-flex flex-wrap card-deck justify-content-center justify-content-md-start">
    <div class="card mb-md-3 mb-3">
        <div class="card-header"><h4 class="card-title"><a href="/assets/publications/software/mesh-merger-1.0_3b55ffafb4a5edf78e1dbd5f9e4a52800cd5fda1.phar">MeSHMerger version 1.0</a></h4>
            <h6 class="card-subtitle mb-2 text-muted">Roland Ramthun</h6></div>
        <div class="card-body">
            <p class="card-text">A software to create a multilingual term list from several MeSH translations. More information is available in <a href="https://github.com/clubs-project/MeSHMerger">the MeSHMerger read-me file on GitHub</a>.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last update: May 2017</small>
        </div>
    </div>
</div>
