---
layout: clubs
content_id: "team"
title: "The team"
---
<div class="row">
    <h1 class="display-4">Team</h1>
</div>

<div class="row">
    <div class="card-group">
        <div class="card" style="border-color: transparent">
            <img class="mx-auto d-block rounded-circle" src="/assets/images/people/busemann.jpg" alt="">
            <div class="card-block">
                <h4 class="card-title text-center">Stephan Busemann</h4>
                <p class="card-text">Stephan Busemann is Principal Researcher and Associate Head of the <a href="https://www.dfki.de/web/research/mlt">DFKI</a> Language Technology Department in Saarbrücken. He is Honorary Professor for Computational Linguistics at the <a href="http://fr46.uni-saarland.de/index.php">Universität des Saarlandes</a>. He is interested in technologies for applied multi-lingual text processing, including text generation, information extraction, human-machine dialogue and machine translation.</p>
            </div>
        </div>
        <div class="card" style="border-color: transparent">
            <img class="mx-auto d-block rounded-circle" src="/assets/images/people/espana-bonet.jpg" alt="">
            <div class="card-block">
                <h4 class="card-title text-center">Cristina España i Bonet</h4>
                <p class="card-text">Cristina España i Bonet is researcher on Natural Language Processing, principally on Machine Translation and Machine Learning at <a href="http://fr46.uni-saarland.de/index.php">Universität des Saarlandes</a> and <a href="https://www.dfki.de/web/research/mlt">DFKI</a>. Her primary research interests are interlingual and multilingual approaches and developing tools and methods for low resourced languages.</p>
            </div>
        </div>
        <div class="card" style="border-color: transparent">
            <img class="mx-auto d-block rounded-circle" src="/assets/images/people/vangenabith.jpg" alt="">
            <div class="card-block">
                <h4 class="card-title text-center">Josef van Genabith</h4>
                <p class="card-text">Josef van Genabith is Scientific Director for Multilingual Technologies at <a href="https://www.dfki.de/web/research/mlt">DFKI</a> (the German Research Center for Artificial Intelligence)  and Professor for Translation-oriented Language Technologies at <a href="http://fr46.uni-saarland.de/index.php">Universität des Saarlandes</a>. His research interests focus on machine translation and more generally other aspects of natural language processing.</p>
            </div>
        </div>
    </div>
</div>

<div class="row" style="padding-top: 2em">
    <div class="card-group">
        <div class="card" style="border-color: transparent">
            <img class="mx-auto d-block rounded-circle" src="/assets/images/people/petras.jpg" alt="">
            <div class="card-block">
                <h4 class="card-title text-center">Vivien Petras</h4>
                <p class="card-text">Vivien Petras is Professor for Information Retrieval at <a href="https://www.ibi.hu-berlin.de/en">the Berlin School of Library and Information Science</a> (<a href="https://www.hu-berlin.de/en">Humboldt-Universität zu Berlin</a>). Her primary research interests are heterogeneity and multilinguality in information systems, evaluation of information systems and cultural heritage information systems.</p>
            </div>
        </div>
        <div class="card" style="border-color: transparent">
            <img class="mx-auto d-block rounded-circle" src="/assets/images/people/ramthun.jpg" alt="">
            <div class="card-block">
                <h4 class="card-title text-center">Roland Ramthun</h4>
                <p class="card-text">Roland Ramthun is researcher at <a href="https://www.zpid.de/">the Leibniz Institute for Psychology Information (ZPID)</a>. He is working on <a href="http://www.clubs-project.eu">the CLUBS Project</a> there.</p>
            </div>
        </div>
        <div class="card" style="border-color: transparent">
            <img class="mx-auto d-block rounded-circle" src="/assets/images/people/stiller.jpg" alt="">
            <div class="card-block">
                <h4 class="card-title text-center">Juliane Stiller</h4>
                <p class="card-text">Juliane Stiller is researcher at <a href="https://www.ibi.hu-berlin.de/en">the Berlin School of Library and Information Science</a> (<a href="https://www.hu-berlin.de/en">Humboldt-Universität zu Berlin</a>). Her primary research interests are evaluation of digital libraries, cultural heritage information systems, multilingual information access and metadata quality.</p>
            </div>
        </div>
    </div>
</div>

<div class="row" style="padding-top: 2em">
    <div class="card-group">
        <div class="card" style="border-color: transparent">
            <img class="mx-auto d-block rounded-circle" src="/assets/images/people/weichselgartner.jpg" alt="">
            <div class="card-block">
                <h4 class="card-title text-center">Erich Weichselgartner</h4>
                <p class="card-text"></p>
            </div>
        </div>
    </div>
</div>
