---
layout: clubs
content_id: "approaches"
title: "Die Ansätze"
---
<div class="row">
    <h1 class="display-4">Ansätze</h1>
</div>

<div class="row" style="padding-top:3em;">
    <div class="col-lg-7">
        <ul class="list-group" style="padding-left: 2em;">
            <li class="list-group-item list-group-item-info"><strong>1. Übersetzung der Suchanfrage</strong></li>
            <li class="list-group-item">Das Suchportal erweitert die Suchanfrage um Übersetzungen der in der Anfrage enthaltenen Terme und Phrase und fragt die erweiterte Version der Suchanfrage dann ab</li>
            <li class="list-group-item"><img src="/assets/images/approaches/approach1.svg" alt=""></li>
            <li class="list-group-item list-group-item-warning">Nachteile</li>
            <li class="list-group-item">
                <ul>
                    <li>Fehlerhafte Übersetzungen verschlechtern die Ergebnisse</li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div class="row" style="padding-top:3em;">
    <div class="col-lg-7">
        <ul class="list-group" style="padding-left: 2em;">
            <li class="list-group-item list-group-item-info"><strong>2. Übersetzung des Inhalts</strong></li>
            <li class="list-group-item">Übersetzung der relevanten Teile des Inhalts des Portals (Metadaten und Abstracts) in alle anderen Sprachen</li>
            <li class="list-group-item"><img src="/assets/images/approaches/approach2.svg" alt=""></li>
            <li class="list-group-item list-group-item-success">Vorteile</li>
            <li class="list-group-item">
                <ul>
                    <li>schnelle Suche, weil keine Echtzeit-Übersetzung notwendig</li>
                </ul>
            </li>
            <li class="list-group-item list-group-item-warning">Nachteile</li>
            <li class="list-group-item">
                <ul>
                    <li>vier Sprachpaare bedingen zwölf Übersetzungsrichtungen</li>
                    <li>wegen der unterschiedlichen Menge an Trainingsmaterial für die verschiedenen Sprachenpaare könnte die Qualität der automatischen Übersetzung durchmischt sein</li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div class="row" style="padding-top:3em;">
    <div class="col-lg-7">
        <ul class="list-group" style="padding-left: 2em;">
            <li class="list-group-item list-group-item-info"><strong>3. Englisch als Brückensprache</strong></li>
            <li class="list-group-item">Online-Übersetzung aller Suchanfragen und Offline-Übersetzung des Datenbestands, jeweils ins Englische</li>
            <li class="list-group-item"><img src="/assets/images/approaches/approach3.svg" alt=""></li>
            <li class="list-group-item list-group-item-success">Vorteile</li>
            <li class="list-group-item">
                <ul>
                    <li>nur drei Übersetzungsrichtungen notwendig</li>
                    <li>Übersetzungen ins Englische sind qualitativ vermutlich am besten</li>
                </ul>
            </li>
            <li class="list-group-item list-group-item-warning">Nachteile</li>
            <li class="list-group-item">
                <ul>
                    <li>getrennte Übersetzungen von Suchanfragen und Datenbestand können an zwei Stellen zu Übersetzungsfehlern führen</li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div class="row" style="padding-top:3em;">
    <div class="col-lg-7">
        <ul class="list-group" style="padding-left: 2em;">
            <li class="list-group-item list-group-item-info"><strong>4. Wissensbasierter Ansatz</strong></li>
            <li class="list-group-item">In der Suchanfrage enthaltene Bezeichnungen werden online auf fachspezifische Thesauri abgebildet</li>
            <li class="list-group-item"><img src="/assets/images/approaches/approach4.svg" alt=""></li>
            <li class="list-group-item list-group-item-success">Vorteile</li>
            <li class="list-group-item">
                <ul>
                    <li>kann mit jeder der drei anderen Methoden kombiniert werden</li>
                </ul>
            </li>
            <li class="list-group-item list-group-item-warning">Nachteile</li>
            <li class="list-group-item">
                <ul>
                    <li>PubPsych-Datensätze nutzen mehrere verschiedene kontrollierte Vokabulare, so dass Abbildungen der verschiedenen Terme aufeinander notwendig sind</li>
                </ul>
            </li>
        </ul>
    </div>
</div>