---
layout: clubs
content_id: "project"
title: "Das Projekt"
---
<div class="alert alert-secondary">
    <h4>Final Project Workshop Announcement</h4>
    <hr>
    <h5>Overcoming language barriers - Cross-lingual retrieval of bibliographic metadata with neural machine translation</h5>
    <p>
        <strong>When:</strong> Friday, June 7th, 2019, 11 a.m. - 4 p.m.<br/>
        <strong>Where:</strong> Stuhlsatzenhausweg 3, Saarland Informatics Campus D 3_2, 66123 Saarbrücken (Room: Reuse -2.17)<br/>
        <strong>Invited keynote speakers:</strong> Prof. Dr. Christa Womser-Hacker (Universität Hildesheim), Prof. Gareth Jones (Dublin City University)
    </p>
    {#<a class="btn btn-dark" href="#" role="button">Register now</a>#}
    {#<hr>#}
    <button class="btn btn-dark" data-toggle="collapse" data-target="#workshop_description" type="button" aria-expanded="false" aria-controls="workshop_description">Workshop Description</button>
    <div class="collapse" id="workshop_description">
        <br/>
        <p><strong>Does overcoming the language barrier contribute to global advancement of science or has English become the lingua franca of science?</strong></p>
        <p>Research has shown that results in non-English languages are less available and referenced than results published in English. This may lead to situations where information published in languages other than English is lost or, in practice, non-existent for individual researchers or even the scientific community as a whole. The aim of the project Cross-Lingual Bibliographic Search (CLuBS) is to investigate strategies to address these problems in Psychology. The use case is <a href="https://www.pubpsych.eu/" target="_blank">PubPsych</a>, an open access multilingual search engine for psychological literature, tests, treatment programs and research data with metadata in four languages: English, French, German, and Spanish.</p>
        <div>In order to make bibliographic metadata better available to non-native speakers, information retrieval performances of query translation versus complete record translation were empirically tested and evaluated. Strategies that proved to be successful despite few query terms and the resulting scarcity of context information:
            <ol>
                <li>lexicon (thesaurus) based query translation together with some simple translation rules;</li>
                <li>neural machine translation for content translation to cover those language pairs with few data (English-French vs. German-Spanish).</li>
            </ol>
            The resulting system is a combination of human expert translation, multilingual thesaurus mappings and neural machine translation.
        </div>
        <p>The objective of this workshop is to present and discuss the CLuBS project results. The main focus is on <em>information retrieval</em> and on <em>machine translation</em> in two separate sessions, and to demonstrate the improved PubPsych search engine. Participants are invited from the fields of Library and Information Science, Computer Science, Psychology, Linguistics and other disciplines interested in multilingual systems. By sharing experience and knowledge this contribution to overcome the language barrier would benefit all researchers.</p>
    </div>
</div>

<div class="row">
    <h1 class="display-4">Projekt</h1>
    <p class="lead">
        Ziel des CLUBS-Projekts ist die empirische Untersuchung vier verschiedener Ansätze im Bereich des "Cross-lingual information retrieval" anhand der psychologischen Suchmaschine PubPsych.
    </p>
    <p>
        Liegen schriftliche Informationen nur in einer dem Leser unverständlichen Sprache vor, können sie von ihm häufig nicht aufgefunden und genutzt werden. Diese Problematik betrifft besonders Fach- und wissenschaftliche Veröffentlichungen, denn dort erscheinen jährlich tausende potentiell relevante Veröffentlichungen in diversen Sprachen. Aufgrund der Sprachunterschiede können Wissenschaftler und sonstige Experten nur jeweils einen Bruchteil der insgesamt in ihrer Disziplin vorhandenen Publikationen auffinden und bei eigenen Vorhaben berücksichtigen.
        Dies kann zu mehrfachem Forschungsaufwand für dieselben Fragestellungen oder der Vernachlässigung eigentlich vorhandener Informationen führen und damit höhere Kosten und weitere unerwünschte Effekte nach sich ziehen.
    </p>
    <p>
        Für die Psychologie haben daher das ZPID und verschiedene Partner im Jahr 2013 <a href="https://www.pubpsych.eu">PubPsych</a> entwickelt, eine vertikale Suchmaschine für psychologische Literatur, Tests, Behandlungsschemata und Forschungsdaten.
        Alle Informationen in PubPsych liegen in mindestens einer der vier Sprachen Englisch, Spanisch, Französisch oder Deutsch vor. Keiner der Datensätze liegt aber vollständig in allen diesen Sprachen vor.
    </p>
    <p>
        Mit Hilfe des <abbr title="Cross Lingual Bibliographic Search" style="text-decoration: none; border-bottom: 1px solid black">CLUBS</abbr>-Projekts sollen nun, unseres Wissens erstmalig, <a href="./ansaetze/">vier verschiedene Ansätze</a> empirisch untersucht werden, um die cross-linguale Suche in bibliographischen Metadaten zu verbessern. Dies wird exemplarisch anhand der PubPsych-Plattform geschehen, um dort unabhängig von der Sprache der Suchanfrage eine Anreicherung der Rechercheergebnisse mit fremdsprachigen Treffern umzusetzen.
    </p>
</div>