---
layout: clubs
content_id: "project"
title: "Das Projekt"
---
<div class="alert alert-secondary">
    <h4>Final Project Workshop</h4>
    <h5>Overcoming language barriers - Cross-lingual retrieval of bibliographic metadata with neural machine translation</h5>
    <div>
        The final project workshop took place on Friday, June 7th, 2019 at DFKI Saarbrücken. See <a href="/de/workshop/">here</a> for more information.
    </div>
</div>

<div class="row">
    <h1 class="display-4">Projekt</h1>
    <p class="lead">
        Ziel des CLUBS-Projekts ist die empirische Untersuchung vier verschiedener Ansätze im Bereich des "Cross-lingual information retrieval" anhand der psychologischen Suchmaschine PubPsych.
    </p>
    <p>
        Liegen schriftliche Informationen nur in einer dem Leser unverständlichen Sprache vor, können sie von ihm häufig nicht aufgefunden und genutzt werden. Diese Problematik betrifft besonders Fach- und wissenschaftliche Veröffentlichungen, denn dort erscheinen jährlich tausende potentiell relevante Veröffentlichungen in diversen Sprachen. Aufgrund der Sprachunterschiede können Wissenschaftler und sonstige Experten nur jeweils einen Bruchteil der insgesamt in ihrer Disziplin vorhandenen Publikationen auffinden und bei eigenen Vorhaben berücksichtigen.
        Dies kann zu mehrfachem Forschungsaufwand für dieselben Fragestellungen oder der Vernachlässigung eigentlich vorhandener Informationen führen und damit höhere Kosten und weitere unerwünschte Effekte nach sich ziehen.
    </p>
    <p>
        Für die Psychologie haben daher das ZPID und verschiedene Partner im Jahr 2013 <a href="https://www.pubpsych.eu">PubPsych</a> entwickelt, eine vertikale Suchmaschine für psychologische Literatur, Tests, Behandlungsschemata und Forschungsdaten.
        Alle Informationen in PubPsych liegen in mindestens einer der vier Sprachen Englisch, Spanisch, Französisch oder Deutsch vor. Keiner der Datensätze liegt aber vollständig in allen diesen Sprachen vor.
    </p>
    <p>
        Mit Hilfe des <abbr title="Cross Lingual Bibliographic Search" style="text-decoration: none; border-bottom: 1px solid black">CLUBS</abbr>-Projekts sollen nun, unseres Wissens erstmalig, <a href="./ansaetze/">vier verschiedene Ansätze</a> empirisch untersucht werden, um die cross-linguale Suche in bibliographischen Metadaten zu verbessern. Dies wird exemplarisch anhand der PubPsych-Plattform geschehen, um dort unabhängig von der Sprache der Suchanfrage eine Anreicherung der Rechercheergebnisse mit fremdsprachigen Treffern umzusetzen.
    </p>
</div>