---
layout: clubs
content_id: "project"
---
<div class="row">
    <h1 class="display-4">Projekt</h1>
    <p class="lead">
        Ziel des CLUBS-Projekts ist die empirische Untersuchung vier verschiedener Ansätze im Bereich des "Cross-lingual information retrieval" anhand der psychologischen Suchmaschine PubPsych.
    </p>
    <p>
        Liegen Informationen nur in einer dem Rezipienten nicht verständlichen Sprache vor, können sie von ihm nicht genutzt und häufig auch nicht aufgefunden werden. Speziell im Bereich wissenschaftlicher Publikationen erscheinen jährlich tausende Veröffentlichungen in diversen Sprachen. Aufgrund der Sprachunterschiede können Wissenschaftler nur jeweils einen Bruchteil der insgesamt in ihrer Disziplin vorhandenen Publikationen auffinden und bei eigenen Vorhaben berücksichtigen.
        Dies kann zu mehrfachen Forschungsaufwand für diesselben Fragestellungen und weiteren unerwünschten Effekten führen.
    </p>
    <p>
        Für die Disziplin der Psychologie haben daher das ZPID und verschiedene Partner im Jahr 2013 PubPsych entwickelt, eine vertikale Suchmaschine für psychologische Literatur, Tests, Behandlungsschemata und Forschungsdaten.
        Alle Informationen in PubPsych liegen in mindestens einer der vier Sprachen Englisch, Spanisch, Französisch oder Deutsch vor. Keiner der Datensätze liegt aber vollständig in allen diesen Sprachen vor.
    </p>
    <p>
        Mit Hilfe des CLUBS-Projekts sollen nun, unseres Wissens erstmalig, vier verschiedene Ansätze empirisch untersucht werden, die, unabhängig von der Sprache der Suchanfrage, zu einer Anreicherung der Rechercheergebnisse mit fremdsprachlichen Treffern führen.
    </p>
</div>