---
layout: clubs
content_id: "project"
title: "Das Projekt"
---
<div class="alert alert-secondary">
    <h4>Final Project Workshop Announcement</h4>
    <hr>
    <h5>Overcoming language barriers - Cross-lingual retrieval of bibliographic metadata with neural machine translation</h5>
    <div>
        <strong>When:</strong> Friday, June 7th, 2019, 11 a.m. - 5 p.m.<br/>
        <strong>Where:</strong> Stuhlsatzenhausweg 3, Saarland Informatics Campus D 3_2, 66123 Saarbrücken (Room: Reuse -2.17)<br/>
        <strong>Invited keynote speakers:</strong><br>
        <a href="https://www.uni-hildesheim.de/fb3/institute/iwist/mitglieder/womser/" target="_blank">Prof. Dr. Christa Womser-Hacker</a> (Universität Hildesheim):
        <em>Which language does the internet speak?</em>
        <a class="btn badge" data-toggle="collapse" data-target="#abstract_womser_hacker" type="button" aria-expanded="false" aria-controls="abstract_womser_hacker">Show abstract</a>
        <div class="collapse" id="abstract_womser_hacker">The internet is commonly seen as an “international” phenomenon, since it is accessible from (almost) everywhere, connecting users all around the world. In my talk, I want to investigate what “international” means in the context of the internet and I assume, that the aspect of language has a significant share in the true internationality.  I.e. that internationality cannot only be attributed a technological importance. The focus of my research is to analyze how multilingualism and interculturality are realized on the internet. From an information science point of view, user behavior in the context of multilingualism or cultural boundaries (for example in e-commerce, in information seeking or in the use of mobile systems) seems to be interesting. Cross-language Information Retrieval (CLIR) is a research field that has created various solutions to handle multilingualism. Additionally, another research area to examine is the international design of graphical user interfaces (GUIs), that is much more than just a “pure” translation. The most important strategies are localization or globalization of interfaces. Requirements from the user experience on the one hand, but also from the intercultural communication on the other hand, come into effect here. In my presentation, I will try to combine these two directions and illustrate them with examples from my research.</div>
        <br>
        <a href="https://www.computing.dcu.ie/~gjones/" target="_blank">Prof. Gareth Jones</a> (Dublin City University): <em>TBA</em>
        {#<a class="btn badge" data-toggle="collapse" data-target="#abstract_jones" type="button" aria-expanded="false" aria-controls="abstract_jones">Show abstract</a>#}
        {#<div class="collapse" id="abstract_jones"></div>#}

        <br>
        <strong>Talks by:</strong><br>
        <a href="https://www.shu.ac.uk/about-us/our-people/staff-profiles/daniela-petrelli" target="_blank">Prof. Daniela Petrelli</a> (Sheffield Hallam University):
        <em>A designerly approach to interactive cross-language information retrieval</em>
        <a class="btn badge" data-toggle="collapse" data-target="#abstract_petrelli" type="button" aria-expanded="false" aria-controls="abstract_petrelli">Show abstract</a>
        <div class="collapse" id="abstract_petrelli">When a new technology is invented, it is unknown how a potential user could and would interact with it. To design for such new scenario means to simultaneously understand and define what the scenario itself is: how does the user approach such new task? what do they do? How does the system perform?  What works and what instead must be changed or improved? When designing the user interface and the interaction for a cross-language retrieval system, I had first to understand what the task really was, how potential users would approach it, and then progressively try different solutions in order to find the optimal one. Through this iterative process I was also able to reveal some limitations of the translation-retrieval mechanisms that, when addressed, radically improved the user interaction. In turn, the improved performance of the system changed the way users responded and pushed for changes on the user interface and interaction. I will use two case studies in cross language text and image retrieval to illustrate the key stages in the design process and show how the research progressed iteratively through phases of user evaluation and redesign.</div>
        <br>
        <a href="http://ufal.mff.cuni.cz/~pecina/index.html"  target="_blank">Assoc. Prof. Pavel Pecina</a> (Charles University, Prague):
        <em>Cross-lingual Information Retrieval in Medical Domain</em>
        {#<a class="btn badge" data-toggle="collapse" data-target="#abstract_pecina" type="button" aria-expanded="false" aria-controls="abstract_pecina">Show abstract</a>#}
        {#<div class="collapse" id="abstract_pecina"></div>#}
        <br>
        <a href="https://pro.europeana.eu/person/antoine-isaac" target="_blank">Antoine Isaac, PhD</a> (Europeana Foundation): <em>TBA</em>
        {#<a class="btn badge" data-toggle="collapse" data-target="#abstract_isaac" type="button" aria-expanded="false" aria-controls="abstract_isaac">Show abstract</a>#}
        {#<div class="collapse" id="abstract_isaac"></div>#}
        <br>
        and the CLuBS project members.
    </div>

    <button class="btn btn-dark" data-toggle="collapse" data-target="#workshop_description" type="button" aria-expanded="false" aria-controls="workshop_description">Workshop Description</button>
    <div class="collapse" id="workshop_description">
        <br/>
        <p><strong>Does overcoming the language barrier contribute to global advancement of science or has English become the lingua franca of science?</strong></p>
        <p>Research has shown that results in non-English languages are less available and referenced than results published in English. This may lead to situations where information published in languages other than English is lost or, in practice, non-existent for individual researchers or even the scientific community as a whole. The aim of the project Cross-Lingual Bibliographic Search (CLuBS) is to investigate strategies to address these problems in Psychology. The use case is <a href="https://www.pubpsych.eu/" target="_blank">PubPsych</a>, an open access multilingual search engine for psychological literature, tests, treatment programs and research data with metadata in four languages: English, French, German, and Spanish.</p>
        <div>In order to make bibliographic metadata better available to non-native speakers, information retrieval performances of query translation versus complete record translation were empirically tested and evaluated. Strategies that proved to be successful despite few query terms and the resulting scarcity of context information:
            <ol>
                <li>lexicon (thesaurus) based query translation together with some simple translation rules;</li>
                <li>neural machine translation for content translation to cover those language pairs with few in-domain parallel data.</li>
            </ol>
            The resulting system is a combination of human expert translation, multilingual thesaurus mappings and neural machine translation.
        </div>
        <div>The objective of this workshop is to present and discuss the CLuBS project results. The main focus is on <em>information retrieval</em> and on <em>machine translation</em> and to demonstrate the improved PubPsych search engine. Participants are invited from the fields of
            <ul>
                <li>Library and Information Science,</li>
                <li>Computer Science,</li>
                <li>Psychology,</li>
                <li>Linguistics,</li>
                <li>and other disciplines interested in multilingual systems.</li>
            </ul>
            By sharing experience and knowledge this contribution to overcome the language barrier would benefit all researchers.
        </div>
    </div>
    <hr>
    <div style="text-align: center;">
        <a class="btn btn-dark" href="https://forms.gle/bYDMsnNNgVhuayoR8" target="_blank" role="button">Register now</a>
    </div>
</div>

<div class="row">
    <h1 class="display-4">Projekt</h1>
    <p class="lead">
        Ziel des CLUBS-Projekts ist die empirische Untersuchung vier verschiedener Ansätze im Bereich des "Cross-lingual information retrieval" anhand der psychologischen Suchmaschine PubPsych.
    </p>
    <p>
        Liegen schriftliche Informationen nur in einer dem Leser unverständlichen Sprache vor, können sie von ihm häufig nicht aufgefunden und genutzt werden. Diese Problematik betrifft besonders Fach- und wissenschaftliche Veröffentlichungen, denn dort erscheinen jährlich tausende potentiell relevante Veröffentlichungen in diversen Sprachen. Aufgrund der Sprachunterschiede können Wissenschaftler und sonstige Experten nur jeweils einen Bruchteil der insgesamt in ihrer Disziplin vorhandenen Publikationen auffinden und bei eigenen Vorhaben berücksichtigen.
        Dies kann zu mehrfachem Forschungsaufwand für dieselben Fragestellungen oder der Vernachlässigung eigentlich vorhandener Informationen führen und damit höhere Kosten und weitere unerwünschte Effekte nach sich ziehen.
    </p>
    <p>
        Für die Psychologie haben daher das ZPID und verschiedene Partner im Jahr 2013 <a href="https://www.pubpsych.eu">PubPsych</a> entwickelt, eine vertikale Suchmaschine für psychologische Literatur, Tests, Behandlungsschemata und Forschungsdaten.
        Alle Informationen in PubPsych liegen in mindestens einer der vier Sprachen Englisch, Spanisch, Französisch oder Deutsch vor. Keiner der Datensätze liegt aber vollständig in allen diesen Sprachen vor.
    </p>
    <p>
        Mit Hilfe des <abbr title="Cross Lingual Bibliographic Search" style="text-decoration: none; border-bottom: 1px solid black">CLUBS</abbr>-Projekts sollen nun, unseres Wissens erstmalig, <a href="./ansaetze/">vier verschiedene Ansätze</a> empirisch untersucht werden, um die cross-linguale Suche in bibliographischen Metadaten zu verbessern. Dies wird exemplarisch anhand der PubPsych-Plattform geschehen, um dort unabhängig von der Sprache der Suchanfrage eine Anreicherung der Rechercheergebnisse mit fremdsprachigen Treffern umzusetzen.
    </p>
</div>