---
layout: clubs
content_id: "project-documentation"
title: "Projektdokumentation"
---

<div class="d-flex flex-column">
    <h1 class="display-4 mb-3 align-self-center align-self-md-start">Projektdokumentation</h1>
</div>

<style type="text/css">
    @media screen and (min-width:768px) {
        .card {
            max-width: 100%;
        }
    }

    @media screen and (max-width:767px) {
        .card {
            min-width: 80%;
        }
    }
</style>

<div class="d-flex flex-column">
    <div class="d-flex flex-column">
        <h2 class="my-3 align-self-center align-self-md-start">Veröffentlichte Berichte</h2>
        <div class="card-deck d-flex flex-wrap justify-content-center justify-content-md-start">
            <div class="card mb-md-3 mb-3">
                <div class="card-header">
                    <h4 class="card-title">
                        <a href="/assets/publications/project/M1.1_UsageScenarios_v1.0.pdf">M1.1 &mdash; Cross-lingual Information Retrieval, Usage Scenarios and PubPsych Structure</a>
                    </h4>
                    <h6 class="card-subtitle mb-2 text-muted">Andreas Lüschow</h6></div>
                <div class="card-body">
                    <p class="card-text">This document describes our motivation and the initital situation at the beginning of the CLUBS project. We explain common issues of multilingual systems and why a multilingual approach for the psychological search engine PubPsych is useful and promising but also which challenges exist in cross-lingual systems. Characteristical user inputs as well as probable usage scenarios are presented. We describe the structure of PubPsych, including currently present problems and necessary adaptations to the system during the project. </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Letzte Aktualisierung: Januar 2019</small>
                </div>
            </div>
            <div class="card mb-md-3 mb-3">
                <div class="card-header">
                    <h4 class="card-title">
                        <a href="/assets/publications/project/M1.2_MTcorpora_v4.0.pdf">M1.2 &mdash; Corpora for the Machine Translation Engines</a>
                    </h4>
                    <h6 class="card-subtitle mb-2 text-muted">Cristina España-Bonet & Juliane Stiller & Sophie Henning</h6></div>
                <div class="card-body">
                    <p class="card-text">This document describes the corpora used for training and evaluating the baseline MT engines used within the CLUBS project.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Letzte Aktualisierung: Juli 2018</small>
                </div>
            </div>
        </div>
        <div class="card-deck d-flex flex-wrap justify-content-center justify-content-md-start">
            <div class="card mb-md-3 mb-3">
                <div class="card-header">
                    <h4 class="card-title">
                        <a href="/assets/publications/project/M1.3.1_EvaluationPlan_v2.0.pdf">M1.3.1 &mdash; Evaluation plan for CLUBS project</a>
                    </h4>
                    <h6 class="card-subtitle mb-2 text-muted">Juliane Stiller & Vivien Petras</h6></div>
                <div class="card-body">
                    <p class="card-text">This document describes the different evaluation studies which will be executed during the course of the project. The studies assess the performance of different MT approaches for cross-lingual retrieval in the bibliographic search engine PubPsych.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Letzte Aktualisierung: Juli 2017</small>
                </div>
            </div>
            <div class="card mb-md-3 mb-3">
                <div class="card-header">
                    <h4 class="card-title">
                        <a href="/assets/publications/project/M1.3.2_RetrievalPerformance_v3.0.pdf">M1.3.2 &mdash; CLUBS - Testing retrieval performance</a>
                    </h4>
                    <h6 class="card-subtitle mb-2 text-muted">Juliane Stiller & Vivien Petras</h6></div>
                <div class="card-body">
                    <p class="card-text">This document will detail the experiment that will be conducted to determine,
which of the five approaches performs best with regard to retrieval performance.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Letzte Aktualisierung: März 2018</small>
                </div>
            </div>
        </div>
        <div class="card-deck d-flex flex-wrap justify-content-center justify-content-md-start">
            <div class="card mb-md-3 mb-3">
                <div class="card-header">
                    <h4 class="card-title">
                        <a href="/assets/publications/project/M1.4_MTApproaches_v1.0.pdf">M1.4 &mdash; MT Approaches towards Cross-lingual IR in PubPsych</a>
                    </h4>
                    <h6 class="card-subtitle mb-2 text-muted">Cristina España-Bonet</h6></div>
                <div class="card-body">
                    <p class="card-text">This document describes the architecture options and final choices for implementing the machine translation (MT) system aimed to translate articles' titles and abstracts. The alternatives are presented and a comparison among the two most promising architectures, Statistical MT and Neural MT, is given.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Letzte Aktualisierung: August 2018</small>
                </div>
            </div>
            <div class="card mb-md-3 mb-3">
                <div class="card-header">
                    <h4 class="card-title">
                        <a href="/assets/publications/project/M1.5_MappingApproaches_v1.1.pdf">M1.5 &mdash; Mapping Approaches for Vocabularies and Queries in PubPsych</a>
                    </h4>
                    <h6 class="card-subtitle mb-2 text-muted">Cristina España-Bonet & Roland Ramthun</h6></div>
                <div class="card-body">
                    <p class="card-text">This document describes the in-domain vocabularies the project has available, and how their multilingual counterparts are built from them. It also proposes several public resources we can use to complement and extend this data with general-domain vocabulary. Finally, application of the multilingual lexicons to controlled terms and query translations is sketched.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Letzte Aktualisierung: März 2018</small>
                </div>
            </div>
        </div>
        <div class="card-deck d-flex flex-wrap justify-content-center justify-content-md-start">
            <div class="card mb-md-3 mb-3">
                <div class="card-header">
                    <h4 class="card-title">
                        <a href="/assets/publications/project/M3.1_ThesaurusControlledTerms_v1.1.pdf">M3.1 &mdash; Cross-lingual Thesaurus and Controlled Term Translation</a>
                    </h4>
                    <h6 class="card-subtitle mb-2 text-muted">Cristina España-Bonet & Roland Ramthun</h6></div>
                <div class="card-body">
                    <p class="card-text">This document describes the data, resources, methodology and software developed to translate the controlled terms and related text available as metadata in the PubPsych database.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Letzte Aktualisierung: März 2018</small>
                </div>
            </div>
            <div class="invisible card mb-md-3 mb-3">
                {# dummy card to ensure correct alignment #}
            </div>
        </div>
    </div>
    <div class="d-flex flex-column">
        <h2 class="my-3 align-self-center align-self-md-start">Software</h2>
        <div class="card-deck d-flex flex-wrap justify-content-center justify-content-md-start">
            <div class="card mb-md-3 mb-3">
                <div class="card-header">
                    <h4 class="card-title">
                        <a href="/assets/publications/software/mesh-merger-1.0_3b55ffafb4a5edf78e1dbd5f9e4a52800cd5fda1.phar">MeSHMerger version 1.0</a>
                    </h4>
                    <h6 class="card-subtitle mb-2 text-muted">Roland Ramthun</h6></div>
                <div class="card-body">
                    <p class="card-text">A software to create a multilingual term list from several MeSH translations. More information is available in <a href="https://github.com/clubs-project/MeSHMerger">the MeSHMerger read-me file on GitHub</a>.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Letzte Aktualisierung: Mai 2017</small>
                </div>
            </div>
            <div class="invisible card mb-md-3 mb-3">
               {# dummy card to ensure correct alignment #}
            </div>
        </div>
    </div>

    <div class="d-flex flex-column">
        <h2 class="my-3 align-self-center align-self-md-start">Dokumentation</h2>
        <div class="card-deck d-flex flex-wrap justify-content-center justify-content-md-start">
            <div class="card mb-md-3 mb-3">
                <div class="card-header"><h4 class="card-title"><a href="../../documentation-online-query-translation">Online integration of the query translation module into PubPsych</a></h4>
                </div>
                <div class="card-body">
                    <p class="card-text">This is the documentation of the changes that were made to PubPsych in order to integrate an online query translating module.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Letzte Aktualisierung: März 2019</small>
                </div>
            </div>
            <div class="invisible card mb-md-3 mb-3">
                {# dummy card to ensure correct alignment #}
            </div>
        </div>
    </div>
</div>
