---
layout: clubs
content_id: "team"
title: "Das Team"
---
<div class="row">
    <h1 class="display-4">Team</h1>
</div>

{#
This page shows the team members. A card for everyone with a centered picture, centered name and a description of the field of work.
#}

<div class="row">
    <div class="card-group">
        <div class="card" style="border-color: transparent; padding: 1em">
            <img class="mx-auto d-block rounded-circle" src="/assets/images/people/busemann.jpg" alt="">
            <div class="card-block">
                <h4 class="card-title text-center">Stephan Busemann</h4>
                <p class="card-text">Stephan Busemann ist Principal Researcher und stellvertretender Bereichsleiter des Forschungsbereichs Sprachtechnologie am <a href="https://www.dfki.de/web/forschung/mlt">DFKI</a> in Saarbrücken. Er ist Honorarprofessor für Computerlinguistik an der <a href="http://fr46.uni-saarland.de/index.php">Universität des Saarlandes</a>. Er ist an Technologien für anwendungsnahe multilinguale Textverarbeitung interessiert: Textgenerierung, Informationsextraktion, Mensch-Maschine-Dialog und maschinelle Übersetzung.</p>
            </div>
        </div>
        <div class="card" style="border-color: transparent; padding: 1em">
            <img class="mx-auto d-block rounded-circle" src="/assets/images/people/espana-bonet.jpg" alt="">
            <div class="card-block">
                <h4 class="card-title text-center">Cristina España i Bonet</h4>
                <p class="card-text">Cristina España i Bonet ist wissenschaftliche Mitarbeiterin im Bereich Natural Language Processing, hauptsächlich in Bezug auf Machine Translation und Machine Learning an der <a href="http://fr46.uni-saarland.de/index.php">Universität des Saarlandes</a> und <a href="https://www.dfki.de/web/forschung/mlt">DFKI</a>. Ihre primären Forschungsinteressen sind interlinguale und multilinguale Ansätze und die Entwicklung von Werkzeugen und Methoden für Sprachen mit geringen Ressourcen.</p>
            </div>
        </div>
        <div class="card" style="border-color: transparent; padding: 1em">
            <img class="mx-auto d-block rounded-circle" src="/assets/images/people/vangenabith.jpg" alt="">
            <div class="card-block">
                <h4 class="card-title text-center">Josef van Genabith</h4>
                <p class="card-text">Josef van Genabith ist Wissenschaftlicher Direktor für Multilinguale Technologien am <a href="https://www.dfki.de/web/forschung/mlt">DFKI</a> (Deutsches Forschungszentrum für Künstliche Intelligenz) und Professor für Translationsorientierte Sprachtechnologien an der <a href="http://fr46.uni-saarland.de/index.php">Universität des Saarlandes</a>. Seine Forschungsinteressen konzentrieren sich auf maschinelle Übersetzung und allgemein auf andere Aspekte der natural language processing.</p>
            </div>
        </div>
    </div>
</div>

<div class="row" style="padding-top: 2em">
    <div class="card-group">
        <div class="card" style="border-color: transparent; padding: 1em">
            <img class="mx-auto d-block rounded-circle" src="/assets/images/people/lueschow.jpg" alt="">
            <div class="card-block">
                <h4 class="card-title text-center">Andreas Lüschow</h4>
                <p class="card-text">Andreas Lüschow ist wissenschaftlicher Mitarbeiter am <a href="https://www.zpid.de/">Leibniz-Zentrum für Psychologische Information und Dokumentation (ZPID)</a> in Trier.</p>
            </div>
        </div>
        <div class="card" style="border-color: transparent; padding: 1em">
            <img class="mx-auto d-block rounded-circle" src="/assets/images/people/petras.jpg" alt="">
            <div class="card-block">
                <h4 class="card-title text-center">Vivien Petras</h4>
                <p class="card-text">Vivien Petras ist Professorin für Information Retrieval an der <a href="https://www.ibi.hu-berlin.de/de">Berlin School of Library and Information Science</a> (<a href="https://www.hu-berlin.de/de">Humboldt-Universität zu Berlin</a>). Ihre primären Forschungsinteressen sind Heterogenität und Multilingualität in Informationssystemen, Evaluierung von Informationssystemen und Informationssysteme zum kulturellen Erbe.</p>
            </div>
        </div>
        <div class="card" style="border-color: transparent; padding: 1em">
            <img class="mx-auto d-block rounded-circle" src="/assets/images/people/ramthun.jpg" alt="">
            <div class="card-block">
                <h4 class="card-title text-center">Roland Ramthun</h4>
                <p class="card-text">Roland Ramthun ist wissenschaftlicher Mitarbeiter am <a href="https://www.zpid.de/">Leibniz-Zentrum für Psychologische Information und Dokumentation (ZPID)</a>. Er arbeitet dort am <a href="http://www.clubs-project.eu">Projekt Cross-Lingual Search</a>.</p>
            </div>
        </div>
    </div>
</div>

<div class="row" style="padding-top: 2em">
    <div class="card-group">
        <div class="card" style="border-color: transparent; padding: 1em">
            <img class="mx-auto d-block rounded-circle" src="/assets/images/people/stiller.jpg" alt="">
            <div class="card-block">
                <h4 class="card-title text-center">Juliane Stiller</h4>
                <p class="card-text">Juliane Stiller ist akademische Mitarbeiterin an der <a href="https://www.ibi.hu-berlin.de/de">Berlin School of Library and Information Science</a> (<a href="https://www.hu-berlin.de/de">Humboldt-Universität zu Berlin</a>). Ihre primären Forschungsinteressen sind Evaluierung von digitalen Bibliotheken, Informationssysteme zum kulturellen Erbe, multilingualer Informationszugang und Metadatenqualität.</p>
            </div>
        </div>
        <div class="card" style="border-color: transparent; padding: 1em">
            <img class="mx-auto d-block rounded-circle" src="/assets/images/people/weichselgartner.jpg" alt="">
            <div class="card-block">
                <h4 class="card-title text-center">Erich Weichselgartner</h4>
                <p class="card-text"></p>
            </div>
        </div>
    </div>
</div>

</div>
