---
layout: clubs
content_id: "publications"
title: "Die Veröffentlichungen"
---

<div class="d-flex flex-column">
    <h1 class="display-4 mb-3 align-self-center align-self-md-start">Veröffentlichungen</h1>
</div>

<style type="text/css">
    @media screen and (min-width:768px) {
        .card {
            max-width: 100%;
        }
    }

    @media screen and (max-width:767px) {
        .card {
            min-width: 80%;
        }
    }
</style>

<div class="d-flex flex-column">
    <h2 class="my-3 align-self-center align-self-md-start">Zeitschriftenbeiträge</h2>
    <div class="card-deck d-flex flex-wrap justify-content-center justify-content-md-start">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">
                    <a href="http://link.springer.com/article/10.1007/s13222-016-0244-3">PubPsych: A Powerful Research Tool Providing Access to a Broad Supranational Body of Psychological Knowledge</a>
                </h4>
                <h6 class="card-subtitle mb-2 text-muted">Erich Weichselgartner & Christiane Baier & Roland Ramthun</h6></div>
            <div class="card-body">

                <p class="card-text">We discuss the motivation for creating the system, design decisions, connected problems and our solutions, especially concerning multilingual information.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Veröffentlicht: März 2017</small>
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column">
    <h2 class="my-3 align-self-center align-self-md-start">Projektdokumentation</h2>
    <div class="card-deck d-flex flex-wrap justify-content-center justify-content-md-start">
        <div class="card mb-md-0 mb-3">
            <div class="card-header">
                <h4 class="card-title">
                    <a href="/assets/publications/project/CLUBS_MTcorpora_v2.1_1b38c31.pdf">Corpora for the Machine Translation Engines</a>
                </h4>
                <h6 class="card-subtitle mb-2 text-muted">Cristina España-Bonet & Juliane Stiller</h6></div>
            <div class="card-body">
                <p class="card-text">This document describes the corpora used for training and evaluating the baseline MT engines used within the CLUBS project.</p>
            </div>
            <div class="card-footer">
                    <small class="text-muted">Letzte Aktualisierung: Januar 2017</small>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">
                    <a href="/assets/publications/project/CLUBS_evaluation_plan_1.1_b98b85a.pdf">Evaluation plan for CLUBS project</a>
                </h4>
                <h6 class="card-subtitle mb-2 text-muted">Juliane Stiller & Vivien Petras</h6></div>
            <div class="card-body">
                <p class="card-text">This document describes the different evaluation studies which will be executed during the course of the project. The studies assess the performance of different MT approaches for cross-lingual retrieval in the bibliographic search engine PubPsych.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Letzte Aktualisierung: März 2017</small>
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column">
    <h2 class="my-3 align-self-center align-self-md-start">Software</h2>
    <div class="d-flex flex-wrap card-deck justify-content-center justify-content-md-start">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">
                    <a href="/assets/publications/software/mesh-merger-1.0_3b55ffafb4a5edf78e1dbd5f9e4a52800cd5fda1.phar">MeSHMerger version 1.0</a>
                </h4>
                <h6 class="card-subtitle mb-2 text-muted">Roland Ramthun</h6></div>
            <div class="card-body">
                <p class="card-text">A software to create a multilingual term list from several MeSH translations. More information is available in <a href="https://github.com/clubs-project/MeSHMerger">the MeSHMerger read-me file on GitHub</a>.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Letzte Aktualisierung: Mai 2017</small>
            </div>
        </div>
    </div>
</div>

<div class="d-flex flex-column">
    <h2 class="my-3 align-self-center align-self-md-start">Sonstige</h2></div>
<div class="d-flex flex-wrap card-deck justify-content-center justify-content-md-start">
    <div class="card">
        <div class="card-header"><h4 class="card-title"><a href="/assets/publications/other/MSc_thesis_AdamVarga.pdf">Master's thesis: Domain Adaptation for Multilingual Neural Machine Translation
                </a></h4>
            <h6 class="card-subtitle mb-2 text-muted">Ádám Csaba Varga</h6></div>
        <div class="card-body">
            <p class="card-text">Neural machine translation (NMT) is currently considered the state-of-the-art for language pairs with vast amounts of parallel data. In this thesis project, we utilize such systems to provide translations between four languages in the psychology domain, where the biggest challenge is posed by in-domain data scarcity. Therefore, the emphasis of the research is laid on exploring domain adaptation methods in this scenario. We first propose a system for automatically building in-domain adaptation corpora by extracting parallel sentence pairs from comparable articles of Wikipedia. To this end, we use supervised classification and regression methods trained on NMT context vector similarities and complementary textual similarity features. We find that the best method for our purposes is a regression model trained on continuous similarity labels. We rerank the extracted candidates by their similarity feature averages and use the top-N partitions as adaptation corpora. In the second part of the thesis we thoroughly examine multilingual domain adaptation by transfer learning with respect to the adaptation data quality, size, and domain. With clean parallel in-domain adaptation data we achieve significant improvements for most translation directions, including ones with no adaptation data, while the automatically extracted corpora prove beneficial mostly for language pairs with no clean in-domain adaptation set. Particularly in these latter cases, the combination of the two adaptation corpora yields further improvements. We also explore the possibilities of reranking N -best translation lists with in-domain language models and similarity features. We conclude that adapted systems produce candidates that can result in a higher improvement in translation performance than the ones of unadapted models, and that remarkable improvements can be achieved by similarity-based reranking methods.
            </p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Veröffentlicht: August 2017</small>
        </div>
    </div>
    <div class="card">
        <div class="card-header"><h4 class="card-title"><a href="/assets/publications/other/Bonet_Bedeno_semEval17.pdf">Lump at SemEval-2017 Task 1: Towards an Interlingua Semantic Similarity</a></h4>
            <h6 class="card-subtitle mb-2 text-muted">Cristina España-Bone &amp; Alberto Barrón-Cedeño</h6></div>
        <div class="card-body">
            <p class="card-text">This is the Lump team participation at SemEval 2017 Task 1 on Semantic Textual Similarity. Our supervised model relies on features which are multilingual or interlingual in nature. We include lexical similarities, cross-language explicit semantic analysis, internal representations of multilingual neural networks and interlingual word embeddings. Our representations allow to use large datasets in language pairs with many instances to better classify instances in smaller language pairs avoiding the necessity of translating into a single language. Hence we can deal with all the languages in the task: Arabic, English, Spanish, and Turkish.
            </p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Veröffentlicht: August 2017</small>
        </div>
    </div>
</div>