---
layout: clubs
content_id: "publications"
title: "Die Veröffentlichungen"
---
<div class="row">
    <h1 class="display-4">Veröffentlichungen</h1>
</div>
<div class="row">
    <h2>Zeitschriftenbeiträge</h2>
    <div class="card-group">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title"><a href="http://link.springer.com/article/10.1007/s13222-016-0244-3">PubPsych: A Powerful Research Tool Providing Access to a Broad Supranational Body of Psychological Knowledge</a></h4>
                <h6 class="card-subtitle mb-2 text-muted">Erich Weichselgartner & Christiane Baier & Roland Ramthun</h6>
                <p class="card-text">We discuss the motivation for creating the system, design decisions, connected problems and our solutions, especially concerning multilingual information.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">März 2017</small>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <h2>Projektdokumentation</h2>
    <div class="card-group">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title"><a href="/assets/publications/project/CLUBS_MTcorpora_v2.1_1b38c31.pdf">Corpora for the Machine Translation Engines</a></h4>
                <h6 class="card-subtitle mb-2 text-muted">Cristina España-Bonet & Juliane Stiller</h6>
                <p class="card-text">This document describes the corpora used for training and evaluating the baseline MT engines used within the CLUBS project.
                </p>
            </div>
            <div class="card-footer">
                    <small class="text-muted">Letzte Aktualisierung: Januar 2017</small>
            </div>
        </div>
    </div>
</div>
